.forms-spacing > * + * {
    margin-top: .5rem;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 1.5rem;
    visibility: visible;
}

.login-page .container {
    margin-right: 1rem;
}

.main-title {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--color-dark-pink);
    padding: .51rem 0;
    border-radius: .5rem;
    text-shadow: .1rem .1rem var(--color-off-white);

}
.main-subtitle {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--color-off-white);
}

.forms-container {
    background-color: var(--color-off-white);
    margin-top: 2rem;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms-container input {
    padding: .5rem;
    outline-style: none;
    border: none;
    border-radius: .2rem;
    font-size: 1rem;
    width: 100%;
    color: var(--color-dark-gray);
    font-weight: 500;
}

.forms-container button {
    outline-style: none;
    border: none;
    width: 40%;
    padding: .5rem;
    border-radius: .2rem;
    background-color: var(--color-light-pink);
    color: var(--color-off-white);
    font-weight: 700;
    font-size: 1rem;
}

.floating-image-container {
    background-image: url(../images/question.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30rem;
    height: 20rem;
    z-index: 3;
    margin-left: 1rem;
}


@media (max-width: 830px) {
    
    .login-page{
        flex-direction: column;
    }
    .login-page .container {
        margin-right: 0;
    }
    .floating-image-container {
        margin: 4rem 0 0 0;
        height: 15rem;
        max-width: 20rem;
        margin-left: 0;
    }
}