.quizzes-list {
    position: absolute;
    top: 5rem;
    left: 0;

    width: 100vw;
    height: calc(100vh - 5rem);
    padding: 5rem;

    visibility: visible;
    opacity: 1;
    transition: visibility 150ms ease-in-out,
    opacity 150ms ease-in-out,
    padding 150ms ease-in-out;

    background-color: var(--color-dark-gray);
}

.quizzes-list ul {
    display: flex;
    flex-wrap: wrap;
}

.quizzes-list li {
    width: 12rem;
    height: 15rem;
    padding: 1.5rem;
    margin: 1rem;
    background-color: var(--color-off-white);
    border-radius: .5rem;
    box-shadow: .1rem .1rem .2rem .1rem var(--color-dark-pink);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.quizzes-list li.create-quiz {
    background-color: var(--color-dark-pink);
    box-shadow: .1rem .1rem .1rem .1rem var(--color-off-white);
}

.quizzes-list h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.quizzes-list .create-quiz h2 {
    color: var(--color-off-white);
}

.quizzes-list .add-icon {
    font-size: 3rem;
    color: var(--color-off-white);
}

.hide-screen {
    visibility: hidden;
    opacity: 0;
}

@media (max-width: 830px) {
    .quizzes-list {
        padding: 1.5rem;
    }
    .quizzes-list ul {
        justify-content: center;
    }
}